@media(max-width: 768px) {
}

.user-background {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
    position: fixed;
    filter: brightness(50%);
    z-index: -10;
}

.home-container {
    width:95%;
}

/*********** SpotlightView ***********/

.carousel {
    position: relative;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #000000, #434343) 1;
}

.spotlight-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 760px;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

.carousel-item {
    height: 540px;
    background: #000000;
    min-width: 100%;
}

.btn-spotlight {
    color: #fff;
    background: linear-gradient(to right, #000000, #434343);
    border: hidden;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

.btn-spotlight:hover {
    background: linear-gradient(to right, #e6dada, #274046);
    color: black;
    transition: background 0.3s linear;
    border: hidden;
}

.spotlight-logos-position1 {
    object-fit: fill;
    margin-bottom: 10px;
    width: 300px;
}

.spotlight-logos-position2 {
    object-fit: fill;
    width: 300px;
    margin-bottom: 5px;
}

.spotlight-logos-position3 {
    object-fit: fill;
    width: 300px;
    margin-bottom: 10px;
}

.carousel-text-1 {text-align: left}
.carousel-text-2 {text-align: center}
.carousel-text-3 {text-align: right}

/*********** SpotlightView ***********/

.home-sections {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%
}

.home-display {
    display: grid;
    grid-template-columns: repeat(20, auto);
    grid-gap: 20px;
    position: relative;
    overflow-x: hidden;
}

.home-section-title {
    margin-left:34.5px;
    color:white;
}

.home-card {
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 310px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.home-card-poster {
    width: 100.1%;
    height: 240px;
    cursor: pointer;
    display: inline-block;
    object-fit: cover;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}

.home-card-actions {
    top: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: none;
}

.home-card-actions:hover {
    background: #000000cc;
    position: relative;
}

.home-card-icon {
    top: 0;
    right: 0;
    border: none;
    color: white;
    background: none;
    filter: opacity(0.3);
    z-index: 2;
    position: relative;
}

.home-card-icon:hover {
    filter: opacity(1);
    color: red;
    transform: scale(1.08);
    transition: transform 0.4s;
}

.home-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4px;
    padding-left:4px;
    padding-right:3px;
    position: relative;
}

.home-card-title {
    font-size: 12px;
    font-weight: 400;
    height:40px;
}

.home-card-date {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color:rgb(255 255 255 / 60%);
}

.watchlist-icon {
    width: 21px;
    filter: invert()
}

.watchlist-icon:hover {filter: invert(15%) sepia(89%) saturate(7373%) hue-rotate(356deg) brightness(97%) contrast(111%)}