h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.1em;}
p {font-size: 0.85em;}

a {
    text-decoration: none !important;
    color: var(--foreground);
}

.content {
    margin-top: 70px;
    padding-bottom: 60px;
}

.title {
    width: 100%;
    margin-bottom: 20px;
}

.movie-list {
    min-width: min-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

/************ Filter Panel ************/

.filter-panel.col-md-3 {
    width:22%;
}


/************ Filter Panel ************/


/************ Movie Card ************/

.movie-card-list {
    width: 100%;
    position: relative;
    height: auto;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 190px);
}

.movie-card {
    top: 0;
    left: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.poster {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: inline-block;
}

.poster-content {
    width: 100%;
    display: grid;
    padding: 5px 8px 8px 8px;
    flex-wrap: wrap;
}

/************ Movie Card ************/