/********** Responsive **********/

@media (max-width: 768px) {
      html {
        font-size: 16px;
      }

      .dropdown-menu-toggle{
        width: 100%;
        text-align: start;
      }

    .navbar-login, .navbar-search {
        display: flex !important;
        margin: 0px !important;
        margin-bottom: 8px !important;
    }
}

/********** Responsive **********/


html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    color: var(--foreground);
}

a, a:after {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: dodgerblue
}

/************** Dark Mode CSS **************/

.darkmode {
    --clr-light: #fff;              /*linear-gradient(to right, #e6dada, #274046)*/
    --clr-dark: #121212;            /*linear-gradient(to right, #232526, #414345)*/
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.dark-mode-toggle {
    color: var(--foreground);
    background: transparent;
    cursor: pointer;
}

/************** Dark Mode CSS **************/


/************** Navbar **************/

.navbar {
    background: #000000a9;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 999;
    opacity: 1;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.nav-link {
    background: none;
    border: none;
    color: white;
}

.nav-link:hover {
    background: linear-gradient(to right, #000000, #434343);
    opacity: 0.85;
    border-radius: 5px;
    border: hidden;
    padding-left: 5px;
    transition: padding 0.3s linear;
}

.nav-link:hover, .nav-link:focus {color: white}
.navbar-brand {padding: 8px}
.navbar-logo  {margin-right: 10px}
.nav-item     {margin-right: 5px}
.navbar-login, .navbar-search {display: inline-flex}

.navbar-dropdown {
    top: 0px;
    right: 0px;
    position: absolute;
    border: none;
    padding: 0;
    margin-right: 4px;
}

.dropdown-menu-navbar {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    padding: 10px;
    border: 5px;
    border-radius: 5px;
}

.dropdown-item {
    border-radius: 5px;
    border: hidden;
    margin:2px
}

.dropdown-item:hover {
    background: linear-gradient(to right, #000000, #434343); 
    color:white;
}

.dropdown-text {
    text-align: center;
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-panel {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    font-size: 20px;
    background: linear-gradient(#8a2387, #e94057, #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/************** Navbar **************/


/************** Footer **************/

footer {
    position: absolute;
    width: 100%;
}
.footer-logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-left: 34px;
}

/************** Footer **************/


/*********** SpotlightView ***********/

.spotlight-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 512px;
    object-fit: cover;
    object-position: top;
    opacity: 0.9;
}

.carousel-item {
    height: 512px;
    background: #000000;
    min-width: 100%;
}

.btn-spotlight {
    color: #fff;
    background: linear-gradient(to right, #000000, #434343);
    border: hidden;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

.btn-spotlight:hover {
    background: linear-gradient(to right, #e6dada, #274046);
    color:black;
    transition: background 0.3s linear;
    border:hidden;
}

.spotlight-logos-position1 {
    object-fit: fill;
    margin-bottom: 10px;
    width: 240px;
    height: 105px;
}

.spotlight-logos-position2 {
    object-fit: fill;
    width: 390px;
    height: 88px;
}

.spotlight-logos-position3 {
    object-fit: fill;
    width: 236px;
    height: 40px;
    margin-bottom: 10px;
}

/*********** SpotlightView ***********/


/************ Pagination ************/

.pagination-row {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.pagination-number {
    margin: 6px;
    border-radius: 6px;
    width: 38px;
    height: 38px;
    background: linear-gradient(to right, #232526, #414345);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-number-link {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.pagination-number.active {background: linear-gradient(to right, #1a2980, #26d0ce)}
a.pagination-number-link:hover {background: linear-gradient(to right, #ff512f, #dd2476)}
a.pagination-number-link {color: white}
