/********** Responsive **********/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/********** Responsive **********/


html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a, a:after {
    color: white;
    text-decoration: none;
    border:none;
}

a:hover{
    color:red;
    text-decoration: none;
    font: bold;
    border:none;
}


/************** Navbar **************/

.navbar {
    background-color: transparent;
    background: #000000a9;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 999;
    opacity: 1;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    background: none;
    border: none;
    color: white;
}

.nav-link:hover {
    background: linear-gradient(to right, #000000, #434343);
    opacity: 0.85;
    border-radius: 5px;
    border: hidden;
    padding-left: 5px;
    transition: padding 0.3s linear;
}

.nav-link:hover, .nav-link:focus {color: white}
.navbar-brand {padding: 8px}
.navbar-logo  {margin-right: 10px}
.nav-item     {margin-right: 5px}
.navbar-login, .navbar-search {display: inline-flex}

.dropdown-menu {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    padding: 10px;
    border: 5px;
    border-radius: 5px;
}

.dropdown-item {
    border-radius: 5px;
    border: hidden;
    margin:2px
}

.dropdown-item:hover {
    background: linear-gradient(to right, #000000, #434343); 
    color:white;
}


/************** Navbar **************/