/********** Responsive **********/

@media (max-width: 768px) {
      html {
        font-size: 16px;
      }

      .dropdown-menu-toggle{
        width: 100%;
        text-align: start;
      }

    .navbar-login, .navbar-search {
        display: flex !important;
        margin-right: 5px !important;
        margin-left: 0 !important;
        margin-bottom: 8px !important;
        width: 100%;
        justify-content: flex-end;
    }
}

/********** Responsive **********/


html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    margin-bottom: 60px;
    background-color: var(--background);
    color: var(--foreground);
}

a, a:after {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: dodgerblue
}

/*Scrollbar*/
::-webkit-scrollbar {width: 12px}
::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #304352, #d7d2cc);
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {background: linear-gradient(to bottom, #232526, #414345)}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    border-radius: 5px;
}
/*Scrollbar*/

/************** Dark Mode CSS **************/

.darkmode {
    --clr-light: #fff;              /*linear-gradient(to right, #e6dada, #274046)*/
    --clr-dark: #121212;            /*linear-gradient(to right, #232526, #414345)*/
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.dark-mode-toggle {
    color: var(--foreground);
    background: transparent;
    cursor: pointer;
}
a.dark-mode-toggle {
    padding:8px;
    border-radius:5px;
}
a.dark-mode-toggle:hover {
    background: linear-gradient(to right, #1a2980, #26d0ce)
}
/************** Dark Mode CSS **************/


/************** Navbar **************/
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur( 3px );
}

.nav-link {
    background: none;
    border: none;
    color: white;
}

.nav-link:hover {
    background: linear-gradient(to right, #000000, #434343);
    opacity: 0.85;
    border-radius: 5px;
    border: hidden;
    padding-left: 5px;
    transition: padding 0.3s linear;
}

.nav-link:hover, .nav-link:focus {color: white}
.navbar-brand {padding: 8px}
.navbar-logo  {margin-right: 10px}
.nav-item     {margin-right: 5px}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-login, .navbar-search {
    display: inline-flex
}

.navbar-dropdown {
    position: fixed;
    border: none;
    padding: 0;
    margin-right:4px;
}

.navbar-dropdown.dropdown-toggle::after {
    display: inline-block;
    font: 22px/1 FontAwesome!important;
    font-size:large;
    content: "\f142"!important;
    color:white;
    border:none!important;
    width:100%;
    margin-top: 6px;
}

.dropdown-menu-navbar {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    border: 5px;
    border-radius: 5px;
    min-width: 12rem;
}

.dropdown-item {
    border-radius: 5px;
    border: hidden;
    margin:2px
}

.dropdown-item:hover {
    background: linear-gradient(to right, #000000, #434343); 
    color:white;
    width:fit-content;
}

.dropdown-text {
    text-align: center;
    background: linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-panel {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.social-icon {
    font-size: 20px;
    background: linear-gradient(#8a2387, #e94057, #f27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tools-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
/************** Navbar **************/
/************** Footer **************/
footer {
    position: absolute;
    width: 100%;
}
.footer-logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-left: 34px;
}

/************** Footer **************/


/*********** SpotlightView ***********/

.spotlight-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 512px;
    object-fit: cover;
    object-position: top;
    opacity: 0.9;
}

.carousel-item {
    height: 512px;
    background: #000000;
    min-width: 100%;
}

.btn-spotlight {
    color: #fff;
    background: linear-gradient(to right, #000000, #434343);
    border: hidden;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
}

.btn-spotlight:hover {
    background: linear-gradient(to right, #e6dada, #274046);
    color:black;
    transition: background 0.3s linear;
    border:hidden;
}

.spotlight-logos-position1 {
    object-fit: fill;
    margin-bottom: 10px;
    width: 240px;
    height: 105px;
}

.spotlight-logos-position2 {
    object-fit: fill;
    width: 390px;
    height: 88px;
}

.spotlight-logos-position3 {
    object-fit: fill;
    width: 236px;
    height: 40px;
    margin-bottom: 10px;
}

/*********** SpotlightView ***********/


/************ Pagination ************/

.pagination-row {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.pagination-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin: 6px;
    border-radius: 6px;
    background: linear-gradient(to right, #232526, #414345);
}

.pagination-direction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    margin: 6px;
    border-radius: 6px;
    background: linear-gradient(to right, #232526, #414345);
}

.pagination-number-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.pagination-number.active {background: linear-gradient(to right, #1a2980, #26d0ce)}
a.pagination-number-link:hover {background: linear-gradient(to right, #ff512f, #dd2476)}
a.pagination-number-link {color: white}
/************ Pagination ************/

/*********** Message Box ***********/

.msgbox {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 65px;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px 14px 8px 14px;
    box-sizing: content-box;
    color:white;
    outline: 0;
    margin-left: 75%;
    transform-origin: right;
    animation: notify 3s ease-in-out infinite;
    float: right;
    width: 360px;
    z-index: 1;
    background: rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border: 2px solid;
}

.msgbox-msg {
    display: inline-flex;
    width: 100%;
}

.msgbox:target {
    visibility: hidden;
    opacity: 0;
    display: none;
    overflow: hidden;
}

.msgbox-close {
    position: relative;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.msgbox-icon {
    position: relative;
    margin-right: 10px;
}

.msgbox-close:hover {color: red}
.msgbox-add     {border-color: green}
.msgbox-update  {border-color: #0c5bd7}
.msgbox-delete  {border-color: red}

/*********** Message Box ***********/
