
.wrapper {margin-top: 80px}

.user-background {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
    position: fixed;
    filter: brightness(50%);
    z-index: -10;
}

/***********Profile Page***********/
.profile-background {
    width: 100%;
    background: rgba( 0, 0, 0, 0.6 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    height: 300px;
}

.profile-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
}

.profile-username {
    margin-top: 110px;
}

.profile-details {
    color: darkgray;
    font-size: 18px;
    font-weight: 500;
}

.profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-icons {
    width: 30px;
    filter:invert();
}

img.profile-icons:hover {
    filter: invert(13%) sepia(87%) saturate(7497%) hue-rotate(7deg) brightness(103%) contrast(96%);
}

/***********Profile Page***********/

/***********User Add Movie***********/

.feedback-input {
    color: var(--foreground);
    font-weight: 500;
    font-size: 18px;
    background: transparent;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #1a2980, #26d0ce);
    border-image-slice: 1;
    transition: all 0.3s ease-in;
    padding: 12px;
    margin-top: 12px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #ff512f, #dd2476);
    border-image-slice: 1;
}

.text {
    height:194px
}

.user-add-movie-form {
    display: grid;
    grid-template-columns: 300px 640px 300px;
    grid-template-rows: repeat(2, 280px) 80px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.user-add-name {grid-area: 1 / 1 / 2 / 2}
.user-add-info {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 10px;
}
.user-add-poster {grid-area: 1 / 3 / 2 / 4}
.user-add-time   {grid-area: 2 / 1 / 3 / 2}
.user-add-logo   {grid-area: 2 / 2 / 3 / 3}
.user-add-id     {grid-area: 2 / 3 / 3 / 4}
.add-btn-grid    {grid-area: 3 / 1 / 4 / 4}

.add-btn {
    width: 100%;
    background: linear-gradient(to right, #1a2980, #26d0ce);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.add-btn:hover {
    background: linear-gradient(to right, #ff512f, #dd2476)
}

/***********User Add Movie***********/

/**************** User Edit ****************/
.useredit-left {
    margin-right: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.useredit-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.useredit-pic {
    max-width: fit-content;
    padding: 0;
}

.useredit-img {
    max-width: 180px;
    max-height: 180px;
    border: 2px;
}

.user-edit-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

a.back-link:hover {color: crimson}
a.back-link {color: var(--foreground)}
/**************** User Edit ****************/
