@{
    ViewData["Title"] = "Home Page";
}

<div id="SpotlightView" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#SpotlightView" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#SpotlightView" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#SpotlightView" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img class="spotlight-backdrop" src="https://www.themoviedb.org/t/p/original/tRS6jvPM9qPrrnx2KRp3ew96Yot.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-start">
                    <img class="spotlight-logos-position1" src="https://www.themoviedb.org/t/p/original/6RYiJRK4BGJcjSifkxQ8hYPU5We.png" alt="First slide logo" />
                    <p>In his second year of fighting crime, Batman uncovers corruption in Gotham City that connects to his own family while facing a serial killer known as the Riddler.</p>
                    <p style="font-family: Garamond, serif;"><a class="btn btn-lg btn-dark" href="#">Unmask the Truth</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="spotlight-backdrop" src="https://www.themoviedb.org/t/p/original/eNI7PtK6DEYgZmHWP9gQNuff8pv.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <img class="spotlight-logos-position2" src="https://www.themoviedb.org/t/p/original/yjxeUjfIWeyIZxhNXs8TAP8kij2.png" alt="The Matrix: Resurrections" />
                    <p style="font-family: Garamond, serif;"><a class="btn btn-lg btn-dark mt-3" href="#">Return to the source.</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="spotlight-backdrop" src="https://www.themoviedb.org/t/p/original/tMfVxjefWwV0vsi9fWzr4zQ2HOu.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-end">
                    <img class="spotlight-logos-position3" src="https://www.themoviedb.org/t/p/original/woifx7xduIyJYq8ktCiN36zt9Xu.png" alt="Dune" />
                    <p>Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, must travel to the most dangerous planet in the universe to ensure the future of his family and his people.</p>
                    <p style="font-family: Garamond, serif;"><a class="btn btn-lg btn-dark" href="#">Beyond fear, destiny awaits</a></p>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#SpotlightView" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
  
    <button class="carousel-control-next" type="button" data-bs-target="#SpotlightView" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    
</div>
    
<div class="container">
    <hr />

</div>
