@model List<Genre>

@foreach (var item in Model)
{
    <a asp-controller="Movie" 
    asp-action="Index" 
    asp-route-genre="@item.Name"
    class="genre-list genre-list-active">
        @item.Name</a>
}