@model UserProfileModel

<span class="">@Model.UserName</span>
    @if (Model.ProfilePic != null)
    {
        <img class="navbar-avatar" src="/img/UserPictures/@Model.ProfilePic">
    }
    else
    {
        <img class="navbar-avatar" style="filter:invert()" src="/img/Other/avatar-default.png">
    }