<footer>
    <div class="container-fluid">
        <div class="row row-cols-5 py-5 my-5 border-top">

            <div class="col footer-col-1">
                <a href="/home/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img class="footer-logo" src="/img/logo/logo.png" />
                </a>
                    <p class="text-muted" style="margin-left:34px">© 2022</p>
            </div>

            <div class="col footer-col-2">

            </div>

            <div class="col footer-col-3">
                <h5 class=" p-2">Home </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a asp-controller="Home"  asp-action="Index" class="nav-link p-2 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a asp-controller="Movie" asp-action="Index" class="nav-link p-2 text-muted">Movies</a></li>
                    <li class="nav-item mb-2"><a asp-controller="TvShow"asp-action="Index" class="nav-link p-2 text-muted">Tv Shows</a></li>
                    <li class="nav-item mb-2"><a asp-controller="Home"  asp-action="About" class="nav-link p-2 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col footer-col-4">
                <h5 class=" p-2">More</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link1</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link1</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link1</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link1</a></li>
                </ul>
            </div>

            <div class="col footer-col-5">
                <h5 class=" p-2">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link2</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link2</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link2</a></li>
                    <li class="nav-item mb-2"><a asp-controller=""  asp-action="" class="nav-link p-2 text-muted">link2</a></li>
                </ul>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top footer-bottom" style="width:100%">
                <p>BMTDb© 2022 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class=""> 
                            <a href="https://twitter.com">
                                <i class="social-icon fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="mx-2"> 
                            <a href="https://facebook.com">
                                <i class="social-icon fab fa-facebook"></i>
                            </a>
                        </li class="mx-2">
                        <li> 
                            <a href="https://instagram.com">
                                <i class="social-icon fab fa-instagram"> </i>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="https://youtube.com">
                                <i class="social-icon fab fa-youtube"></i>
                            </a>
                        </li>                        
                        <li class="mr-2">
                            <a href="https://github.com/unsulliedd">
                                <i class="social-icon fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</footer>