<header>
    <nav id="navbar" class="navbar navbar-expand-md navbar-toggleable-sm">
        <div class="container-fluid" style="margin-left:34px; margin-right:44px">
                
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img class="navbar-logo" src="/img/logo/logo.png" width="30" height="30" alt="BMTDb_Logo">BMTDb
            </a>
                
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">   
                    <i class="fas fa-bars" style="color:#fff; border:hidden; font-size:28px;"></i>
                </span>
            </button>

            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">

                <div class="navbar-right">
                    <ul class="navbar-nav flex">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Movies"> Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="TvShow" asp-action="Index">Tv Shows</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle dropdown-menu-toggle nav-link" id="dropdownMenuButton" 
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</button>
                                <div class="dropdown-menu dropdown-menu-navbar" aria-label="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="User"  asp-action="UserAddMovie">Add Movie</a>
                                    <a class="dropdown-item" asp-controller="Home"  asp-action="About">About</a>
                                </div>
                        </li>
                    </ul>
                </div>

                <div class="navbar-left">
                    <form class="navbar-search mx-1" asp-controller="Movie" asp-action="Search">
                        <input name="q" type="search" class="form-control form-control-dark" placeholder="Search..." 
                            aria-label="Search">
                    </form>

                    @if (User.Identity.IsAuthenticated)
                    {           
                        <div class="navbar-user dropdown">
                            <a class="dropdown-toggle dropdown-menu-toggle" id="dropdownMenuButton" 
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="display: flex;flex-direction: row;align-items: center;">
                                <div style="display: flex; align-items: center">
                                    <span class="">@User.Identity.Name</span>
                                    <img class="navbar-avatar" src="https://www.themoviedb.org/t/p/w300_and_h300_face/4xJbtwuTcxq5Be5VVv0eLpavIW1.jpg">
                                </div>
                            </a>
                                <div class="dropdown-menu" aria-label="dropdownMenuButton">

                                    <a class="dropdown-item" asp-controller="User" asp-action="UserProfile">Profile</a>

                                    <a class="dropdown-item" asp-controller="" asp-action="">Watchlist</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="AdminDashBoard">Admin Dashboard</a>
                                }
                                    <a class="dropdown-item" asp-controller="Account"  asp-action="Signout">Sign-out</a>
                                </div>
                        </div>
                    }

                    else
                    {
                        <div class="navbar-login">
                            <a class="btn btn-outline-light" asp-controller="Account" asp-action="SignIn">Login</a>
                            <a class="btn btn-primary mx-2"  asp-controller="Account" asp-action="SignUp">Sign-up</a>
                        </div>
                    }
                    
                    <div class="navbar-dropdown">
                        <span class="btn navbar-dropdown dropdown-toggle" data-bs-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false">
                        </span>
                            <div class="dropdown-menu dropdown-menu-navbar dropdown-menu-end">
                                <h5 class="dropdown-text">Social</h5>
                                <div role="separator" class="dropdown-divider"></div>
                                    <div class="social-panel">
                                        <span>
                                            <a href="https://github.com/unsulliedd">
                                                <i class="social-icon fab fa-github"> </i>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="https://twitter.com">
                                                <i class="social-icon fab fa-twitter"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="https://facebook.com">
                                                <i class="social-icon fab fa-facebook"></i>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="https://youtube.com">
                                                <i class="social-icon fab fa-youtube"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <div class="tools-panel">
                                        <a class="dark-mode-toggle" id="dark-mode-toggle" href="#">
                                            <img src="/img/icon-svg/moon-solid.svg" style="width:28px">
                                        </a>
                                    </div>
                            </div>  
                    </div>
                </div>

            </div>

        </div>
    </nav>
</header>