<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - BMTDb</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/BMTDb.WebUI.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    </head>

    <body>

        <partial name="_Header" />
   
            <main role="main" class="pb-3">
                 @if (TempData["message"] != null)
            
                {
                    var message = JsonConvert.DeserializeObject<NotificationModel>(TempData["message"].ToString());
                        <div id="popup" class="msgbox msgbox-@message?.MessageType">
                            <i class="msgbox-icon @message?.MessageIcon"></i>
                            <div class="msgbox-msg">
                                @message?.Message
                            </div>
                            <a class="msgbox-close" href="#popup">&times;</a> 
                        </div>
                }
                @RenderBody()
            </main>

        <partial name="_Footer" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>