@{
    ViewData["Title"] = "Access Denied";
}
<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>

<div class="container" style="margin-top:120px;height: 1050px;">

<h2 class="text-danger" style="font-size:5rem">Access Denied</h2>

    <div class="mt-4">
        <p style="font-size:20px; font-weight:500; color:white;">
            Your don't have permison to access this page
        </p>
    </div>

</div>