@{
    ViewData["Title"] = "Email Confirmed";
}

<style>
    html{overflow:hidden}
</style>

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>

<div class="container" style="margin-top:120px;height: 650px;">

<h2 class="text-success" style="font-size:3rem">Congratulation</h2>

    <div class="mt-4">
        <p style="font-size:16px; font-weight:500; color:white">
            Your email has confirmed!
        </p>
    </div>

</div>