@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container" style="margin-top:120px;height: 220px;">

<h2 class="text-success" style="font-size:3rem">Congratulation</h2>

    <div class="mt-4">
        <p style="font-size:16px; font-weight:500;">
            Your email has confirmed!
        </p>
    </div>

</div>