@{
    ViewData["Title"] = "Password Reset";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>

<div class="container-fluid wrapper">
    <div class="signin-main">
        <form asp-controller="account" asp-action="ForgetPassword" method="post" >
            <div class="forgetpswd-panel">
                <div class="signin-form" style="height: 340px;justify-content: center;">
                    <h2 class="mt-1">Forget Password</h2>
                    <label class="user-label">Email</label>
                        <input class="user-input mt-1" name="Email"    placeholder="Email"/>                 
                            
                        <input type="submit" value="Send Email" class="usr-btn my-3"/> 
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}