@model ResetPasswordModel

@{
    ViewData["Title"] = "Password Reset";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>

<div class="container-fluid wrapper">
    <div class="signin-main">
        <form asp-controller="account" asp-action="ResetPassword" method="post" >
            <div class="forgetpswd-panel">
                <div class="signin-form">
                    <h2 class="my-3">Reset Password</h2>
                    <input type="hidden" asp-for="Token" />
                    <label class="user-label">Email</label>
                        <input class="user-input" asp-for="Email"       placeholder="Email"/>
                        <span asp-validation-for="Email" class="span-validation text-danger"></span>
                    <label class="user-label">Password</label>
                        <input class="user-input" asp-for="Password"    placeholder="Password"/>
                        <span asp-validation-for="Password" class="span-validation text-danger"></span>
                    <label class="user-label">Password Confirm</label>
                        <input class="user-input" asp-for="RePassword"  placeholder="Password Confirm"/>
                        <span asp-validation-for="RePassword" class="span-validation text-danger"></span>
                            
                        <input type="submit" value="Reset Password" class="usr-btn my-3"/> 
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}