@model SignInModel
@{
    ViewData["Title"] = "Sign-in";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>


<div class="container-fluid">
    <div class="signin-main">
        <form asp-controller="account" asp-action="SignIn" method="post" >
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
            <div class="signin-panel">
                <div class="signin-form">
                    <h2 class="my-3 text-white">Login</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="user-label mt-2">Username</label>
                        <input class="user-input text-white" asp-for="UserName"    placeholder="Username"/>
                        <span asp-validation-for="UserName" class="span-validation text-danger"></span>
                    <label class="user-label">Password</label>
                        <input class="user-input text-white" asp-for="Password"    placeholder="Password"/>
                        <span asp-validation-for="Password" class="span-validation text-danger"></span>
                        <span style="display:flex;flex-wrap: nowrap; align-items: center;">
                            <input type="checkbox" value="false" onchange="this.value=this.checked" asp-for="RememberMe"> 
                            <label class="mx-2 text-white">Remember me</label>
                        </span> 
                            
                        <input type="submit" value="Sign-in" class="usr-btn my-3"/> 
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}