@model SignUpModel
@{
    ViewData["Title"] = "Sign-up";
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<div id="background"></div>
    
<div class="signup-page">
    <div class="container-fluid wrapper">
        <div class="signup-main">
            <form asp-controller="Account" asp-action="SignUp" method="post" >
                <div class="signup-panel">
                    <div class="signup-form">
                        <h2 class="my-3">Sign-Up</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label class="user-label mt-2">Username</label>
                            <input class="user-input" asp-for="UserName"    placeholder="Username"/>
                            <span asp-validation-for="UserName" class="span-validation text-danger"></span>
                        <label class="user-label">Email</label>
                            <input class="user-input" asp-for="Email"       placeholder="Email"/>
                            <span asp-validation-for="Email"    class="span-validation text-danger"></span>
                        <label class="user-label">Password</label>
                            <input class="user-input" asp-for="Password"    placeholder="Password"/>
                            <span asp-validation-for="Password" class="span-validation text-danger"></span>
                        <label class="user-label">Password Confirm</label>
                            <input class="user-input" asp-for="RePassword"  placeholder="Password Confirm"/>
                            <span asp-validation-for="RePassword" class="span-validation text-danger"></span>

                            <input type="submit" value="Sign-up" class="usr-btn my-3"/> 
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}