@model List<Studio>

@foreach (var item in Model)
{
    <li style="padding:5px">
    <a asp-controller="Movie" 
    asp-action="Index" 
    asp-route-studio="@item.Studio_Name"
    class="dropdown-list @(ViewBag.SelectedStudio == item.Studio_Name?"active":"")">
        @item.Studio_Name</a>
    </li>
}